<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="https://preview.c9users.io/cooknat/haplo-stories/style.css">
  </head>
  <body>
    <a href="/story/start">Back to the start</a>
      <div class="wrapper">
        <% 1.upto(9) do  |i| %>
          <% if i%2==1 && i!=5 %>
             <div class="empty box"></div>
          <% elsif i==5 %>
            <div id="centre" class="box">
              <%= session["startline"].storyline %>
            </div>
          <% else %> 
            <% if i==2 %>
              <div class="box">
                <% session['current'].each do |line| %>
                  <% if line.position == "north" %>
                    <a href="/story/next"><%= line.storyline %></a>
                  <% else %>
                    <form action="newline" method="POST">
                      <input type="text" name="line"/>
                      <input type="hidden" name="pos" value="north"/>
                      <input type="submit"/>
                    </form>
                  <% end %>
                <% end %>  
              </div>  
            <% elsif i==4 %>
              <div class="box">
                <% session['current'].each do |line| %>
                  <% if line.position == "west" %>   
                    <a href="/story/next"><%= line.storyline %></a>
                  <% else %>
                    <form action="newline" method="POST">
                      <input type="text" name="line"/>
                      <input type="hidden" name="pos" value="west"/>
                      <input type="submit"/>
                    </form>
                  <% end %>
                <% end %>  
              </div>  
            <% elsif i==6 %>
              <div class="box">
                <% session['current'].each do |line| %>
                  <% if line.position == "east" %>   
                    <a href="/story/next"><%= line.storyline %></a>
                  <% else %>
                    <form action="newline" method="POST">
                      <input type="text" name="line"/>
                      <input type="hidden" name="pos" value="east"/>
                      <input type="submit"/>
                    </form>
                  <% end %>
                <% end %>  
              </div>  
            <% elsif i==8 %>
              <div class="box">
                <% session['current'].each do |line| %>
                  <% if line.position == "south" %>   
                    <a href="/story/next"><%= line.storyline %></a>
                  <% else %>
                    <form action="newline" method="POST">
                      <input type="text" name="line"/>
                      <input type="hidden" name="pos" value="south"/>
                      <input type="submit"/>
                    </form>
                  <% end %>
                <% end %>  
              </div>  
            <% end %>    
          <% end %>
        <% end %>
      </div>
    </body>
  </html>
  
