<!DOCTYPE html> <!--as is, before i start messing around with a loop-->
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="https://preview.c9users.io/cooknat/haplo-stories/style.css">
  </head>
  <body>
    <a href="/story/start">Back to the start</a>
      <div class="wrapper">
        <div class="empty box"></div>
        <div class="box">
         <% unless session["pos"].include?("north") %>
          <form action="newline" method="POST">
            <input type="text" name="line"/>
            <input type="hidden" name="pos" value="north"/>
            <input type="submit"/>
          </form>
          <% else %>
           <a href="/story/next"><%= @saved_line %></a>
          <% end %>
        </div>
        <div class="empty box"></div>
        <div class="box">
          <% unless session["pos"].include?("west") %>
          <form action="newline" method="POST">
            <input type="text" name="line"/>
            <input type="hidden" name="pos" value="west"/>
            <input type="submit"/>
          </form>
          <% else %>
           <a href="/story/next"><%= @saved_line %></a>
          <% end %>
        </div>
        <div id="centre" class="box"><%= session["startline"].storyline %></div>
        <div class="box">
          <% unless session["pos"].include?("east") %>
          <form action="newline" method="POST">
            <input type="text" name="line"/>
            <input type="hidden" name="pos" value="east"/>
            <input type="submit"/>
          </form>
          <% else %>
           <a href="/story/next"><%= @saved_line %></a>
          <% end %>
        </div>
        <div class="empty box"></div>
        <div class="box">
          <% unless session["pos"].include?("south") %>
          <form action="newline" method="POST">
            <input type="text" name="line"/>
            <input type="hidden" name="pos" value="south"/>
            <input type="submit"/>
          </form>
          <% else %>
           <a href="/story/next"><%= @saved_line %></a>
          <% end %>
          </div>
        <div class="empty box"></div>
      </div>
    </body>
  </html>
  
